<h2>Show task</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @book.title %>
  </li>

  <li>
    <strong>Image Url:</strong>
    <%= @book.image_url %>
  </li>

</ul>

<%= link "Edit", to: book_path(@conn, :edit, @book) %>
<%= link "Back", to: book_path(@conn, :index) %>
